<?xml version="1.0" encoding="utf-8" ?>
<Settings>
	<Setting Name="SMS_SURL" Value="http://gw.api.taobao.com/router/rest" />
	<Setting Name="SMS_APPKEY" Value="23412487" />
	<Setting Name="SMS_SECRET" Value="8b68ca2389d9036bf581a75a37c28d12" />
	<Setting Name="TEST_MODEL" Value="False" />
  <Setting Name="DISABLE_REGISTRATION_SMS" Value="True" />
	<Setting Name="DateFormat" Value="yyyy/MMM/dd"/>
	<Setting Name="SECRETKEY" Value="B22A8B3c36E3xC4D3882xA30C5gEBDsE4Ae9BE" />
  <Setting Name="SMS_DEFAULT_SIGNUPCODE" Value="test" />
  <Setting Name="DEFAULT_PASSWORD" Value="test" />
	<Setting Name="SystemEmailAddress" Value="Do-Not-Reply@QiFuHR.com" />
  <!--上传的目录-->
  <Setting Name="UploadFolderPath" Value="C:\Work\NET2\Infobasis\Infobasis\Infobasis.Web\Uploads" />
  <!--页面返回的虚拟目录-->
  <Setting Name="UploadFolderVirualPath" Value="/Uploads" />
	
	<Setting Name="Version" Value="1.0.0" />
  <Setting Name="WebApiRootUrl" Value="http://localhost:55184/api/" />
  
</Settings>



